<tr>
  <td class="border px-4 py-2"><%= expense.description %></td>
  <td class="border px-4 py-2"><%= expense.amount %></td>
  <td class="border px-4 py-2"><%= expense.date.strftime("%Y-%m-%d") %></td>
</tr>
