<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>
<div class="max-w-md w-full mx-auto">
<h1 class="font-bold text-2xl">Expense tracker</h1>
<%= render partial: "form", locals: { expense: @expense } %>
</div>
<div id="expenses">
  <h1 class="font-bold text-lg mb-7">Expenses</h1>
  <div class="table w-full">
  <div class="table-row">
    <div class="table-cell  p-2.5">Name</div>
    <div class="table-cell  p-2.5 text-right">Amount</div>
    <div class="table-cell  p-2.5">Date</div>
    <div class="table-cell  p-2.5 text-right">Actions</div>
  </div>
  <%= render @expenses %>
</div>

</div>

</div>